{% extends "base.html" %}
{% load static %}
{% block extra_title %}
 - Home 
 {% endblock %}

 {% block page_header %}

 {% endblock %}

{% block content %}
        <div class="welcome-image" style="background-image: url('{{ static }}images/welcome-image.jpg');">
            <div class="search-box">
                <div class="search-box--text">
                    <p class="m-0 bold">Start the search for your new vehicle here!</p>
                </div>
                <form class="welcome-search-form" action="" method="POST">
                    <div>
                        <input class="welcome-search-form-input roboto" type="text" name="vehicle-make" placeholder="Make" list="vehicle-makes" autocomplete="off" autofocus required>
                            <datalist id="vehicle-makes">
                                <option>Nissan</option>
                                <option>Peugeot</option>
                                <option>Audi</option>
                                <option>BMW</option>
                            </datalist>
                      </div>

                      <div>
                        <input class="welcome-search-form-input roboto" type="text" name="vehicle-model" placeholder="Model" list="vehicle-models" autocomplete="off" autofocus required>
                            <datalist id="vehicle-makes">
                                
                            </datalist>
                      </div>

                      <button class="btn-search" type="submit">Search</button>

                </form>

                <a class="btn--more-options" href="">More Options</a>
            </div>
        </div>

        <div class="container-fluid quick-links-container">
            <div class="row">

                <div class="quick-links--box quick-link">
                    <p class="white">All Vehicles</p>
                    <a href="#">
                        <div class="quick-link--image" style="background-image:url('{{ static }}images/all-vehicles.jpg');">
                        </div>
                    </a>
                </div>

                <div class="quick-links--box quick-link">
                    <p class="white">Accessories</p>
                    <a href="#">
                        <div class="quick-link--image" style="background-image:url('{{ static }}images/accessories.jpg');">
                        </div>
                    </a>
                </div>

                <div class="quick-links--box quick-link">
                    <p class="black">Contact Us</p>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#contact-modal">
                        <div class="quick-link--image" style="background-image:url('{{ static }}images/contact.jpg');">
                        </div>
                    </a>
                </div>

                <div class="about-box about-welcome">
                    <h3 class="about-welcome--heading">A warm welcome form the Très Cars Team!</h3>
                    <p class="about-welcome--body">Très Cars can be found at our premises in Cardiff.
                        <br>
                        Come to us for approved used vehicles and extensive accessories. 
                        <br>
                        At Très Cars, we pride ourselves on stocking high quality used vehicles, bringing you a comprehensive range of manufacturers and types for every budget.</p>
                </div>

                <div class="about-box about-values">
                    <div class="about-values--image" style="background-image:url('{{ static }}images/about-values.jpg');"></div>
                    <div class="about-values--body">
                        <h4 class="about-box--title">Our Values</h4>
                        <p>We are commited to helping customers make great choices by delivering great value and customer service.</p>
                    </div>
                </div>

                <div class="about-box about-location">
                    <div class="about-location--image" style="background-image:url('{{ static }}images/location-image.png');"></div>
                    <div class="about-location--body">
                        <h4 class="about-box--title">Visit Us!</h4>
                        <p>Très Cars</p>
                        <p>12 Hadfield Road</p>
                        <p>Cardiff</p>
                        <p>CF11 8AQ</p>
                    </div>
                </div>

            </div>
        </div>

{% endblock %}