{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Home
{% endblock %}

{% block extra_js %}

{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="container mt-auto">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h1>Returns</h1>
        </div>
    </div>
</div>

<div class="container mb-auto">
    <div class="row">
        <div class="col-12 px-3">
            <p>
                If you need to return a product purchased from Très Cars under the Consumer Contracts
                Regulations 2013 you have the right to cancel your order within a period of 14 working days.
            </p>
            <p>
                Your right to cancel an order starts the moment you place your order and ends 14 days from the day you
                receive it (effective 13th June 2014). Please be aware that your right to cancel does not apply to
                certain goods that we sell, for example, products specially ordered that are not in stock, electrical
                products, tyres and painted/colour coded products.
            </p>
            <p>
                You must inform us of your wish to cancel by email within a period of 14 days beginning on the day after
                the day you receive your goods. You must take reasonable care of the goods and not use or install them
                to your vehicle; merchandise clothing must not be worn, other than to check for correct fitment.
                Authorised returns must arrive to us in their original packaging, including any fixings and
                instructions, as soon as possible after informing us of your wish to cancel. If you return goods to us,
                we will not be responsible for any loss or damage to them during transit and we recommend that you use a
                recorded or secure delivery method. If goods are returned with missing parts, lost or damaged in
                transit, we may charge you, or not refund to you amounts that are attributable to the loss or damage. We
                cannot accept substitute or alternative items by way of returns, nor are we able to send them back to
                you. Due to this please look closely at the items you return to us. If you return or attempt to return
                substitute or alternative items, you will still be responsible for paying for the original product
                purchased.
            </p>
            <p>
                Customers are responsible for the full cost of returning goods and advised to use a fully-tracked or
                courier service to ensure a safe return. Return requests must be made to us within the cooling-off
                period, which starts the moment you place your order and ends 14 days from the day you receive it.
            </p>
            <p>
                All returns will require a COMPLETED RETURNS FORM, so that we will be able to identify the package. To
                obtain an Returns Form, please contact us via email: online.parts@glynhopkin.com to be issued with one.
                You will then need to return the product along with the completed returns form to Glyn Hopkin Online
                Shop within 14 days from authorisation. If the item is not returned during this time period, you may no
                longer be entitled to a refund. Items returned without a returns authorisation number will be rejected.
            </p>
            <p>
                The credit amount reflects the purchase price of the item, including the standard delivery charge (where
                applied), excluding any delivery surcharges. We are unable to refund delivery charges for returns of
                partial orders or unauthorised returns.
            </p>
            <p>
                Are there limitations to items that can be returned or refunded?
                There are items that cannot be returned for any reason. These include:
            </p>
            <p>
                <ul>
                    <li>Owner’s Manuals/Handbooks</li>
                    <li>Electrical Goods, SD Cards or CD-ROM's</li>
                    <li>Painted Parts or Accessories (Personalised/Colour Coded)</li>
                    <li>Tyres</li>
                    <li>Touch-Up Paint</li>
                    <li>Locking Wheel Nut Sets or Keys (if packaging opened)</li>
                    <li>Special Order Products</li>
                </ul>
            </p>
            <p>
                Refunds
                If items are returned via courier or the Post Office, we aim to process refunds within 5 working days.
                However; please allow up to 14 days from return for your account to be credited.
            </p>
            <p>
                Return Address
                Très Cars, 12 Hadfield Road Cardiff, CF11 8AQ
            </p>
            <p>
                This returns policy does not affect your legal rights.
            </p>

        </div>
    </div>
</div>


{% endblock %}

{% block postload_js%}

{% endblock %}