{% extends "base.html" %}
{% load static %}
{% block extra_title %}
 - Past Order 
 {% endblock %}

 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

 {% block page_header %}

 {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Past Order Detail</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="row mx-auto">
                    <div class="col-4">
                        <p class="bold">Order Number:</p>
                    </div>
                    <div class="col-8">
                        {{ order.order_number }}
                    </div>

                    <div class="col-4">
                        <p class="bold">Order Date:</p>
                    </div>
                    <div class="col-8">
                        {{ order.date }}
                    </div>
                </div>
                <div class="row mx-auto">
                {% for item in order.lineitems.all %}
                    <div class="col-4">
                        <p class="bold">Order Type:</p>
                    </div>
                    <div class="col-8">
                        {{ item.vehicle.type | capfirst }}
                    </div>
                    {% if item.vehicle.type == 'vehicle' %}
                        <div class="col-4">
                            <p class="bold">Vehicle Make:</p>
                        </div>
                        <div class="col-8">
                            {{ item.vehicle.make | capfirst }}
                        </div>

                        <div class="col-4">
                            <p class="bold">Vehicle Model:</p>
                        </div>
                        <div class="col-8">
                            {{ item.vehicle.model | capfirst }}
                        </div>

                        <div class="col-4">
                            <p class="bold">Vehicle Registration:</p>
                        </div>
                        <div class="col-8">
                            {{ item.vehicle.registration | upper }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
{% endblock%}