{% extends "base.html" %}
{% load static %}
{% block extra_title %}
 - Your Profile 
 {% endblock %}

 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

 {% block page_header %}

 {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Welcome to you profile page {{ profile }}</h2>
        </div>
    </div>

    <div class="row profile-saved-info">
        <a id="hide-profile-info" class="btn btn-hide">Hide Info</a>
        <div class="mx-auto col-12 col-md-8 col-lg-6 my-3" id="profile-info">
            <h6>Default Information:</h6>
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn--blue-border btn--profile-info" type="submit">Update Info</button>
            </form>
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delete-info">
                <button class="btn btn--red-border btn--profile-info" id="delete-profile-info" type="submit">Delete Info</button>
            </form>
        </div>
    </div>

    <div class="row profile-previous-orders">
        <div class="row">
            <div class="mx-auto col-12 col-md-8 col-lg-8 mt-3 text-center">
                <h5>Previous Orders:</h5>
            </div>
        </div>

        <div class="mx-auto col-12 col-md-8 col-lg-8 my-1 ">
            <table class="d-none d-sm-table table table-lg table-borderless text-center align-middle">
                <thead>
                    <tr>                        
                        <th>Item Type</th>
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Vehicle orders md > -->
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.order_type | capfirst }}</td>
                            <td>
                                <a href="{% url 'order_detail' order.order_number %}" title="{{ order.order_number }}">
                                    {{ order.order_number | truncatechars:10 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                                    {% for item in order.lineitems.all %}
                                            {% if item.vehicle %}
                                                <td>
                                                    {{ item.vehicle.make | capfirst}} {{ item.vehicle.model | capfirst }} 
                                                    <br>
                                                    {{ item.vehicle.registration | upper }}
                                                </td>
                                            {% endif %}
                                    {% endfor %}
                            <td>£{{ order.grand_total }}</td>
                        </tr>
                    {% endfor %}
                    <!-- Accessories Orders md > -->
                    {% for a_order in accessory_orders %}
                    <tr>
                        <td>{{ a_order.order_type | capfirst }}</td>
                        <td>
                            <a href="#" title="{{ a_order.order_number }}">
                                {{ a_order.order_number | truncatechars:10 }}
                            </a>
                        </td>
                        <td>{{ a_order.date }}</td>
                                    <td>
                                        {% for item in a_order.accessorylineitems.all %}
                                        <p class="m-0">
                                            {{ item.quantity }} x {{ item.accessory.brand | capfirst }} {{ item.accessory.accessory_type | capfirst }}
                                        </p>
                                        {% endfor %}
                                    </td>
                        <td>£{{ a_order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Small container for orders -->


            <!-- Vehicles -->
            <div class="d-inline d-sm-none m-auto align-middle container">
                {% for order in orders %}
                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Type:</p>
                    </div>
                    <div class="col-6 text-start">
                        <p  class="my-0">{{ order.order_type | capfirst }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Number:</p>
                    </div>
                    <div class="col-6 text-start">
                        <a href="{% url 'order_detail' order.order_number %}" title="{{ order.order_number }}">
                            {{ order.order_number | truncatechars:10 }}
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Date:</p>
                    </div>
                    <div class="col-6 text-start">
                        <p class="my-0">{{ order.date }}</p>
                    </div>
                </div>

                {% for item in order.lineitems.all %}
                        {% if item.vehicle %}
                            <div class="row">
                                <div class="col-6 text-end">
                                    <p class="my-0 bold">Items:</p>
                                </div>
                                <div class="col-6 text-start">
                                    <p class="my-0">
                                        {{ item.vehicle.make | capfirst}} {{ item.vehicle.model | capfirst }} 
                                        <br>
                                        {{ item.vehicle.registration | upper }}
                                    </p>
                                </div>
                            </div>
                        {% elif item.accessory %}
                        
                        {% endif %}
                {% endfor %}

                <hr>

                {% endfor %}
                
                <!-- Accessories -->

                {% for a_order in accessory_orders %}
                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Type:</p>
                    </div>
                    <div class="col-6 text-start">
                        <p  class="my-0">{{ a_order.order_type | capfirst }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Number:</p>
                    </div>
                    <div class="col-6 text-start">
                        <a href="#" title="{{ order.order_number }}">
                            {{ a_order.order_number | truncatechars:10 }}
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 text-end">
                        <p class="my-0 bold">Order Date:</p>
                    </div>
                    <div class="col-6 text-start">
                        <p class="my-0">{{ a_order.date }}</p>
                    </div>
                </div>

                
                    <div class="row">
                        <div class="col-6 text-end">
                            <p class="my-0 bold">Items:</p>
                        </div>
                        <div class="col-6 text-start">
                            {% for item in a_order.accessorylineitems.all %}
                                <p class="my-0">
                                    {{ item.quantity }} x {{ item.accessory.brand | capfirst }} {{ item.accessory.accessory_type | capfirst }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                <hr>

                {% endfor %}


            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
    <script src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock%}