{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- {{ vehicle.make | title  }} {{ vehicle.model | title }} {{ vehicle.registration | upper }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'vehicles/css/vehicles.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container mt-auto">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'vehicles' %}">
                <i class="fa fa-arrow-left vehicle-details-back" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<div class="container vehicle-detail-container mb-auto">
    <div class="vehicle-detail--banner">
        <p>Reserve Now <br> for £{{ vehicle.price }}</p>
    </div>
    <div class="d-none d-lg-block vehicle-reserve-continaer">
        <form class="form" action="{% url 'reserve_vehicle_checkout' vehicle.sku %}" method="POST">
            {% csrf_token %}
            <input type="text" class="d-none" name="reserve_vehicle">
            <input class="hidden qty_input" type="number" name="quantity" value="1" min="1" max="1"
                data-item_id="{{ vehicle.sku }}">

            <button {% if vehicle.available != 'yes' %} disabled {% endif %}class="btn btn--reserve-now"
                type="submit">{% if vehicle.available == 'yes' %} Reserve Now! {% else %} Sorry, you've missed it!
                {% endif %}</button>
        </form>
    </div>

    <div class="row vehicle-detail--image-viewer">
        <div class="col-12 col-lg-6">

            <!-- The large image container -->
            <div class="vehicle-detail--images-container">
                <!-- large image -->
                {% for image in images %}
                {% if image.main %}
                <img id="expandedImg" class="vehicle-detail--image-large" src="{{ media }}{{ image.image }}"
                    alt="Image of {{ vehicle.registration | upper }}">
                {% if image not in images %}
                <img id="expandedImg" class="vehicle-detail--image-large" src="{{ media }}coming-soon.png"
                    alt="Image of {{ vehicle.registration | upper }} coming soon">
                {% endif %}
                {% endif %}
                {% endfor %}


            </div>

            <!-- Small image container -->
            <div class="row image-row">
                {% for image in images %}
                <!-- Small Image -->
                <div class="col-3 col-sm-2">
                    <img class="vehicle-detail--image-small" src="{{ media }}{{ image.image }}"
                        alt="Image of {{ vehicle.registration | upper }}" onclick="myFunction(this);" loading="lazy">
                </div>
                {%endfor%}

            </div>
            <div class="row">
                <div class="col-12 d-lg-inline text-center mt-2">
                    <a href="{% url 'send_email' vehicle.sku %}" class="btn btn--black-border w-100">Contact us about
                        {{ vehicle.registration | upper }}</a>
                </div>

                <div class="col-12">
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'update_vehicle' vehicle.sku %}">Update</a> |
                        <a class="text-danger" id="delete-vehicle"
                            href="{% url 'delete_vehicle' vehicle.sku %}">Delete</a>
                    </small>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-lg-12 vehicle-detail--title">
                    <h3>{{ vehicle.model_year }} {{ vehicle.make | title}} {{ vehicle.model | title}}</h3>
                </div>

                <div class="col-lg-12 vehicle-detail--title">
                    <h5>{{ vehicle.trim | upper }}</h5>
                </div>

                <div class="col-12 vehicle-detail--title">
                    <h5>{{ vehicle.registration | upper }}</h5>
                </div>

                <div class="col-12 vehicle-detail--title">
                    <h5>£{{ vehicle.full_price}}</h5>
                </div>

                <div class="col-12 vehicle-detail--title">
                    <p>{{ vehicle.mileage }} Miles</p>
                </div>
            </div>

            <!-- Info -->
            <div class="row">
                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/paint.png' %}"
                            alt="Colour Icon" aria-label="colour Icon">
                        <br>
                        {{ vehicle.colour | title}}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/fuel.png' %}"
                            alt="Fuel Icon" aria-label="fuel type Icon">
                        <br>
                        {{ vehicle.fuel | title }}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/engine.png' %}"
                        alt="Engine Size Icon" aria-label="engine size Icon">
                    <br>
                    {{ vehicle.engine_size }}
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/car.png' %}"
                            alt="Body Type Icon" aria-label="Body type Icon">
                        <br>
                        {{ vehicle.body_type | title }}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/gearbox.png' %}"
                            alt="Gearbox Icon" aria-label="Gearbox Icon">
                        <br>
                        {{ vehicle.gearbox | title }}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/drivetrain.png' %}"
                            alt="Drivetrain Icon" aria-label="Vehile Drivetrain Icon">
                        <br>
                        {{ vehicle.drivetrain |upper }}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/seat.png' %}"
                            alt="Seat Icon" aria-label="Number of seats Icon">
                        <br>
                        {{ vehicle.seats }}
                    </p>
                </div>

                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/door.png' %}"
                            alt="Door Icon" aria-label="Number of doors Icon">
                        <br>
                        {{ vehicle.doors }}
                    </p>
                </div>

                {% if dvla_data.co2Emissions %}
                <div class="col-4 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/co2.png' %}"
                            alt="CO2 Icon" aria-label="CO2 Emissions Icon">
                        <br>
                        {{ dvla_data.co2Emissions }} g/Km
                    </p>
                </div>
                {% endif %}

                {% if dvla_data.motExpiryDate %}
                <div class="col-6 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/mot.png' %}"
                            alt="MOT Icon" aria-label="MOT Due Icon">
                        <br>
                        <span id="mot-date">{{ dvla_data.motExpiryDate }}</span>
                    </p>
                </div>
                {% endif %}

                {% if dvla_data.taxDueDate %}
                <div class="col-6 col-sm-3 vehicle-detail-small-info">
                    <p>
                        <img class="vehicle-detail-small-info--icon" src="{% static 'images/icons/tax.png' %}"
                            alt="Tax Icon" aria-label="Tax Due Icon">
                        <br>
                        <span id="tax-date">{{ dvla_data.taxDueDate }}</span>
                    </p>
                </div>
            </div>
            {% endif %}

            <div class="row">
                <div class="col-12 vehicle-detail--description">
                    <p>{{ vehicle.description }}</p>
                </div>
            </div>

            <div class="row d-lg-none gx-0">
                <div class="col-12 col-md-6 text-center">
                    <form class="form" action="{% url 'reserve_vehicle_checkout' vehicle.sku %}" method="get">
                        {% csrf_token %}

                        <input class="hidden qty_input" type="number" name="quantity" value="1" min="1" max="1"
                            data-item_id="{{ vehicle.sku }}">

                        <button {% if vehicle.available != 'yes' %} disabled {% endif %}class="btn btn--reserve-now"
                            type="submit">{% if vehicle.available == 'yes' %} Reserve Now! {% else %} Sorry, you've
                            missed it! {% endif %}</button>
                    </form>
                </div>

                <div class="col-12 col-md-6 text-center">
                    <a href="{% url 'send_email' vehicle.sku %}" class="btn btn--black-border">Contact us about
                        {{ vehicle.registration | upper }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block postload_js%}
<script src="{% static 'vehicles/js/vehicle_detail.js' %}"></script>
{% endblock %}