{% extends "base.html" %}
{% load static %}
{% load mathfilters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">
                    {% if order.order_type == 'vehicle' %}Your vehicle has been reserved{% else %}Your order has been placed{% endif %}
                </h2>
                <hr>
                <p class="text-black">Your confirmaiton information is below. An email {% if from_profile %}was{% else %}will be{% endif %} sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="order-confirmation-wrapper p-2 border">

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 bold">{% if order.order_type == 'vehicle' %}Reserved Vehicle:{% else %}Ordered Items:{% endif %}</p>
                        </div>
                        {% for item in order.lineitems.all %}
                                <div class="col-12 text-md-right">
                                    <p class="mb-0">
                                        {{ item.vehicle.make | capfirst }} {{ item.vehicle.model | capfirst }} - {{ item.vehicle.registration | upper }}
                                    </p>
                                </div>
                        {% endfor %}
                        {% for item in order.accessorylineitems.all %}
                            <div class="col-12 text-md-right">
                                <p class="mb-0">
                                    {{ item.quantity }} x {{ item.accessory.brand | capfirst }} {{ item.accessory.accessory_type | capfirst }}
                                </p>
                            </div>
                        {% endfor %}
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                                <small class="text-muted">Your Details:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="bold">Name:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="bold">Address:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address1 }}</p>
                            {% if order.street_address2 %}
                                <p class="mb-0">{{ order.street_address2 }}</p>
                            {% endif %}
        
                            {% if order.county %}
                                <p class="mb-0">{{ order.county }}</p>
                            {% endif %}
                                <p class="mb-0">{{ order.town_or_city }}</p>
                            {% if order.postcode %}
                                <p class="mb-0">{{ order.postcode }}</p>
                            {% endif %}
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="bold">Phone Number:</small>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <p class="mb-0 bold">Paid Today:</p>
                        </div>
                        <div class="col-12 col-sm-8 text-md-right">
                            <p class="mb-0">£{{ order.order_total }}</p>
                        </div>
                    </div>
                    {% if item.vehicle %}
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <p class="mb-0 bold">To Pay On Collection:</p>
                            </div>
                            {% for item in order.lineitems.all %}
                                <div class="col-8 text-sm-right">
                                        <p class="mb-0">£{{ item.vehicle.full_price | sub:item.vehicle.price }}</p>
                                
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <hr>

                    <div class="row">
                        <div class="col-12">
                            {% if order.order_type == 'vehicle' %}

                                <p class="mb-0 text-small">
                                    Thank you for your reservation, we will call you on {{ order.phone_number }} within the next hour to confirm a date and time for you to collect your new vehicle.
                                <br>
                                If you have ordered after working hours or on a weekend, we will call the next working day.
                                </p>
                                <br>
                                <p class="bold">Please note, vehicles must be taxed and insured before leaving our premesis.</p>
                                
                            {% else %}
                                <p class="mb-0 text-small">Thank you for your order. We will ship your package the same day if placed before 12:00 or the next working day.</p>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 my-2 more-button-container">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn--black-border">
                    
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Back To Profile</span>
                    </a>
                {% else %}
                    {% if order.order_type == 'vehicle' %}
                        <a href="{% url 'accessories' %}" class="btn btn--black-border">
                            <span class="icon mr-2">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </span>
                            <span class="text-uppercase">Vehicle Accessories</span>
                        </a>
                    {% else %}
                        <a href="{% url 'accessories' %}" class="btn btn--black-border">
                            <span class="icon mr-2">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </span>
                            <span class="text-uppercase">More Accessories</span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}