{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <img class="nav-logo mb-1" src="{% static 'images/logo.png' %}" alt="Très Cars Logo">

    <h2 class="roboto mb-4">{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <hr class="white mt-1">
        <input class="btn btn--blue-border" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
