{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Accessories
{% endblock %}

{% block page_header %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accessories/css/accessories.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Search Options -->
        <div class="col-12 my-3">
            <form method="GET" action="{% url 'accessories_search' %}">
                <div class="input-group mx-auto">
                    <input class="form-control" type="text" name="q" placeholder="Search for accessories">
                    <div class="input-group-append">
                        <button class="form-control btn btn--border-black" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<div class="container my-auto">
    <div class="row">
        {% for category in categories %}
        <div class="quick-links--box quick-link">
            <p class="white">{{ category.friendly_name }}</p>
            <a href="{% url 'accessories_search' %}?category={{ category.name }}">
                <div class="quick-link--image" style="background-image:url('{{ media }}{{ category.image }}');">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% block postload_js %}

{% endblock %}