{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- {{ accessory.brand | title }} {{ accessory.accessory_type | title }}
{% endblock %}

{% block page_header %}

{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'accessories/css/accessories.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-auto">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'accessories' %}" aria-label="Back to accessories">
                <i class="fa fa-arrow-left vehicle-details-back" aria-label="Back to accessories"></i>
            </a>
        </div>
    </div>
</div>
<div class="container accessory-detail-container mb-auto">
    <div class="row accessory-detail--image-viewer">

        <div class="col-12 col-lg-6">
            <div class="accessory-detail--images-container">
                {% if accessory.image %}
                <img id="expandedImg" class="accessory-detail--image-large" src="{{ media }}{{ accessory.image }}"
                    alt="Image of {{ accessory.brand }} {{ accessory.accessory_type }}" loading="lazy">
                {% else %}
                <img id="expandedImg" class="accessory-detail--image-large" src="{{ media }}coming-soon.png"
                    alt="Image of {{ accessory.brand }} {{ accessory.accessory_type }}" loading="lazy">
                {% endif %}
            </div>
            <div class="accessory-info">
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'update_accessory' accessory.id %}">Update</a> |
                    <a class="text-danger delete-accessory" id="delete-vehicle" href="{% url 'delete_accessory' accessory.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-lg-12 accessory-detail--title">
                    <h3>{{ accessory.brand | title }} {{ accessory.accessory_type | title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 accessory-detail--title">
                    <p class="fs-5 bold">£{{ accessory.price }}</p>
                </div>
            </div>

            <!-- Info -->
            <div class="row">
                <div class="col-12 accessory-detail-small-info">
                    {% if accessory.vehicle_make == 'all' %}
                    <p>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <br>
                        Fits All Vehicles
                    </p>
                    {% else %}
                    <p>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <br>
                        Fitment: {{ accessory.vehicle_make | title }} {{ accessory.vehicle_model | title }}
                    </p>
                    {% endif %}
                </div>



                <div class="row">
                    <div class="col-12 accessory-detail--description">
                        <p>{{ accessory.description }}</p>
                    </div>
                </div>

                <div class="row gx-0">
                    <div class="col-12 col-md-6 text-center">
                        <form class="form" action="{% url 'add_to_bag' accessory.id %}" method="POST">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-12">
                                    {% if accessory.quantity_available <= 0 %}
                                    <input type="submit" class="btn btn--red-border w-100 bold" value="Sold Out"
                                        disabled>
                                    {% else %}
                                    <div class="form-group w-80 mx-auto">
                                        <div class="input-group">
                                            <div class="input-grou-prepend">
                                                <button class="decrement-qty btn btn--black-border"
                                                    data-item_id="{{ accessory.id }}" id="decrement-qty"
                                                    aria-label="decrease Quantity">
                                                    <span class="icon">
                                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number" name="quantity"
                                                value="1" min="1" max="{{accessory.quantity_available}}"
                                                data-item_id="{{ accessory.id }}" id="id_qty"
                                                aria-label="Quantity selector">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn--black-border"
                                                    data-item_id="{{ accessory.id }}" id="increment-qty"
                                                    aria-label="Increase Quantity">
                                                    <span class="icon">
                                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn--blue-border w-100 mt-2" value="Add to Bag">
                                    {% endif %}

                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>

                    <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
                        <a href="{% url 'send_email' accessory.sku %}" class="btn btn--black-border">Contact us about
                            this item</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'accessories/js/accessory_detail.js' %}"></script>
{% endblock %}