{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Add A Vehicle
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'management/css/management.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 font-small my-2">
            <span><a href="">Admin Management</a> > </span>
            <span><a href="">Vehicle Management</a> > </span>
            <p class="d-inline">Add a Vehicle</p></span>
        </div>
        <div class="col-12">
            <h2 class="mt-2 mb-4">Add A Vehicle</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{% url 'add_vehicle' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.registration | as_crispy_field }}
                {{ form.make | as_crispy_field }}
                {{ form.model | as_crispy_field }}
                {{ form.trim | as_crispy_field }}
                {{ form.colour | as_crispy_field }}
                {{ form.fuel | as_crispy_field }}
                {{ form.engine_size | as_crispy_field }}
                {{ form.body_type | as_crispy_field }}
                {{ form.gearbox | as_crispy_field }}
                {{ form.drivetrain | as_crispy_field }}
                {{ form.seats | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.full_price | as_crispy_field }}
                {{ form.mileage | as_crispy_field }}
                {{ form.model_year | as_crispy_field }}
                {{ form.doors | as_crispy_field }}
                <div id="images-container"></div>
                {{ image_form.images }}
            

                <button class="btn btn-info my-2"type="submit">Add Vehicle</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postload_js %}
<script>
    let loadFile = function(event) {
        let imgsContainer = document.getElementById('images-container')
        for (let i=0; i < event.target.files.length; i++){
            console.log(event)
            let imgInputLabel = document.createElement('label');
            let imgInput = document.createElement('input');
            let img = document.createElement('img');

            imgInputLabel.appendChild(imgInput);
            imgInputLabel.appendChild(img);

            imgInput.setAttribute('type', 'radio');
            imgInput.setAttribute('name', 'main');
            imgInput.setAttribute('required', true);
            imgInput.setAttribute('value', event.target.files[i].name)

            img.classList.add('img-thumb')
            img.setAttribute('alt', 'image of vehicle');
            img.setAttribute('src', URL.createObjectURL(event.target.files[i]));
            
            imgsContainer.appendChild(imgInputLabel);

            
            img.onload = function() {
            URL.revokeObjectURL(img.src) // free memory
                }
        }
    };





  </script>
{% endblock %}