{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Manage Vehicles
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'management/css/management.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 font-small my-2">
            <span><a href="{% url 'management_home' %}">Admin Management</a> > </span>
            <p class="d-inline">Vehicle Management</p></span>
        </div>
        <div class="col-12">
            <h2 class="mt-2 mb-4">Vehicle Management</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <p>
                Please choose whether you need Add or Update a Vehicle.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="quick-links--box quick-link">
            <p class="white">Add a Vehicle</p>
            <a href="{% url 'add_vehicle' %}">
                <div class="quick-link--image" style="background-image:url({% static 'images/all-vehicles.jpg' %});">
                </div>
            </a>
        </div>

        <div class="quick-links--box quick-link">
            <p class="white">Update a Vehicle</p>
            <a href="#">
                <div class="quick-link--image" style="background-image:url({% static 'images/all-vehicles.jpg' %});">
                </div>
            </a>
        </div>
    </div>
</div>
    
</div>

{% endblock %}

{% block postload_js %}
    <script src="{% static 'management/js/add_vehicle.js' %}"></script>
{% endblock %}