{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- Update A Vehicle
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'management/css/management.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 font-small my-2">
            <span><a href="{% url 'management_home' %}">Admin Management</a> > </span>
            <p class="d-inline">Update a Vehicle</p></span>
        </div>
        <div class="col-12">
            <h2 class="mt-2 mb-4">Update A Vehicle</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="{%url 'update_vehicle' vehicle.sku %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.registration | as_crispy_field }}
                {{ form.make | as_crispy_field }}
                {{ form.model | as_crispy_field }}
                {{ form.trim | as_crispy_field }}
                {{ form.colour | as_crispy_field }}
                {{ form.fuel | as_crispy_field }}
                {{ form.engine_size | as_crispy_field }}
                {{ form.body_type | as_crispy_field }}
                {{ form.gearbox | as_crispy_field }}
                {{ form.drivetrain | as_crispy_field }}
                {{ form.seats | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.full_price | as_crispy_field }}
                {{ form.mileage | as_crispy_field }}
                {{ form.model_year | as_crispy_field }}
                {{ form.doors | as_crispy_field }}
                {{ form.available | as_crispy_field }}

                <hr>
                <p class="bold mb-0">Current Images:</p>
        </div>

        {% for image in image_form %}
        <div class="col-12 col-md-6 col-lg-4 mt-1 mb-0 current_image">
            {% if image.image.value != None %}
            <hr>
            {{ image | crispy }}
            {% endif %}
        </div>
        {% endfor %}

        <div class="col-12 mt-2">
            <hr>
            <p class="bold">Add More Images:</p>
            <div id="images-container"></div>

            {{ more_images_form.images }}
        </div>
        <div class="col-12" id="warning-message"></div>
        <button class="btn btn-info my-2" type="submit" id="updateBtnVehicle">Update
            Vehicle</button>
        </form>
    </div>
</div>
</div>

{% endblock %}

{% block postload_js %}
<script src=" {% static 'management/js/update_vehicle.js' %}"></script>
{% endblock %}