{% extends "base.html" %}
{% load static %}
{% block extra_title %}
- 404 Error
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'management/css/management.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-auto text-center">
    <div class="row">
        <div class="col-12">
            <p class="bold">500</p>
            <h2>
                Oh No! Engine Troubles!
            </h2>
        </div>
        <div class="col-12 mx-auto">
            <img class="error-page-image" src="{% static 'images/car-breakdown.png' %}" alt="Error Image">
        </div>
        <a href="{% url 'home' %}" class="btn btn-lg btn--blue-border mx-auto">Click Here for Recovery</a>
    </div>
</div>
{% endblock %}