{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="description" content="Cars for every budget">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Codie Stephens-Evans">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script defer src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <link rel="icon" href="{% static 'images/favicon/logo-16.png' %}" type="image/png" sizes="16x16">
    <link rel="icon" href="{% static 'images/favicon/logo-32.png' %}" type="image/png" sizes="32x32">
    <link rel="icon" href="{% static 'images/favicon/logo-96.png' %}" type="image/png" sizes="96x96">

    <title>Très Cars {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item d-inline d-lg-none">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                            <hr class="d-block d-lg-none">
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vehicles' %}">New Search</a>
                            <hr class="d-block d-lg-none">
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accessories' %}">Accessories</a>
                            <hr class="d-block d-lg-none">
                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand d-none d-lg-inline mx-auto" href="{% url 'home' %}">
                                <img class="nav-logo" src="{% static 'images/logo.webp' %}" alt="Très Cars Logo">
                            </a>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                            <hr class="d-block d-lg-none">
                        </li>

                        {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'management_home' %}">Manage</a>
                            <hr class="d-block d-lg-none">
                        </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            <hr class="d-block d-lg-none">
                        </li>

                        {% endif %}

                        {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            <hr class="d-block d-lg-none">
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            <hr class="d-block d-lg-none">
                        </li>

                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link d-none d-lg-block" href="{% url 'view_bag' %}">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                {% if total %}
                                £{{ total | floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </a>
                        </li>

                    </ul>
                </div>
                <a class="nav-link d-block d-lg-none black" href="{% url 'view_bag' %}">
                    <i class="fa fa-shopping-basket black" aria-hidden="true"></i>
                    {% if total %}
                    <span class="black">
                        £{{ total | floatformat:2 }}
                    </span>
                    {% else %}
                    <span class="black">
                        £0.00
                    </span>
                    {% endif %}
                </a>

            </div>
        </nav>
    </header>

    <div class="container-fluid g-0">
        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
            <p>
                {{message}}
            </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer container-fluid">
        <div class="row mt-1">
            <div class="col-6 col-sm-2 footer-logo-container">
                <a class="" href="{% url 'home' %}">
                    <img class="footer-logo" src="{% static 'images/logo.webp' %}" alt="Très Cars Logo">
                </a>
            </div>

            <div class="col-6 col-sm-5 footer-links-container d-none d-sm-inline text-center">
                <a class="footer-link d-inline" href="{% url 'send_email' %}">Contact
                    Us</a>
                <a class="footer-link d-inline" href="{% url 'returns_page' %}">Returns</a>
            </div>

            <div class="col-6 col-sm-5 footer-address-container">
                <p class="footer-address--line d-block">Très Cars</p>
                <p class="footer-address--line d-block">12 Hadfield Road</p>
                <p class="footer-address--line d-block">Cardiff</p>
                <p class="footer-address--line d-block">CF11 8AQ</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-5 footer-links-container d-inline d-sm-none text-center">
                <a class="footer-link d-inline" href="{% url 'send_email' %}">Contact
                    Us</a>
                <a class="footer-link d-inline" href="{% url 'returns_page' %}">Returns</a>
            </div>
        </div>
    </footer>
    {% block postload_js%}
    {% endblock %}

</body>

</html>