{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <title>Très Cars {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">New Search</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Accessories</a>
                </li>

                <a class="navbar-brand d-none d-lg-inline" href="#">
                    <img class="nav-logo" src="{{ static }}images/logo.png" alt="Très Cars Logo">
                </a>

                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                
              </ul>
            </div>
          </nav>
    </header>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer container-fluid">
        <div class="row">
            <div class="col-12 col-sm-2 footer-logo-container">
                <a class="" href="#">
                    <img class="footer-logo" src="{{ static }}images/logo.png" alt="Très Cars Logo">
                </a>
            </div>

            <div class="col-12 col-sm-5 footer-links-container">
                <a class="footer-link d-inline" href="#">Contact Us</a>
                <a class="footer-link d-inline" href="#">Returns</a>
            </div>

            <div class="col-12 col-sm-5 footer-address-container">
                <p class="footer-address--line d-inline d-sm-block">Très Cars</p>
                <p class="footer-address--line d-inline d-sm-block">123 Example Street</p>
                <p class="footer-address--line d-inline d-sm-block">Cardiff</p>
                <p class="footer-address--line d-inline d-sm-block">CT13 8PU</p>
            </div>
        </div>
    </footer>
</body>
</html>