.vehicle-search-input {
    width: 100%;
    height:30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}

.vehicle-container {
    background-color: rgb(219, 219, 219);
    min-height: 300px;
    margin: 10px 2px;
    border-radius: 5px;
    overflow: hidden;
}

.vehicle-container:hover {
    transition: .5s ease-in-out;
    transform: scale(1.05);
    box-shadow: #12a3e5 0px 0px 20px;
}

.vehicle--image {
    height: 150px;
    background-color: tomato;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vehicle--image-sold {
    height: 150px;
    padding: 0;
    height: fit-content;
}

.vehicle-sold {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    font-weight: bold;
    background-color: grey;
    width: 100%;
    text-align: center;
}

.vehicle-pagination-container {
    display: block;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 1rem;
    font-family: roboto, sans-serif;
}

.vehicle-pagination-container a {
    color: #0da7e8;
    text-decoration: none;
    font-weight: bold;
}

.vehicle-pagination-container a:hover {
    color: black;
}

.vehicle-details-back {
    color: black;
    margin-top: 1rem;
}

.vehicle-reserve-continaer {
    position: absolute;
    right: 70px;
    top: 100px;
}

.vehicle-details-back:hover {
    color: #0da7e8;
}

.vehicle-container--body {
    padding: 15px;
    margin: auto 0;
}

.vehicle-container p {
    margin: 0;
}

.vehicle-container h4 {
    margin: 0;
}

.vehicle-detail-container {
    border: 1px solid black;
    border-radius: 10px;
    min-height: 600px;
    margin: 1rem auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.vehicle-detail--banner {
    position: absolute;
    right: -52px;
    top: -13px;
    width: 150px;
    height: 80px;
    transform: rotate(47deg);
    background-color: #0da7e8;
}

.vehicle-detail--banner p {
    margin: 42px auto 0 auto;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
  
  .vehicle-detail--image-small {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    margin: 5px auto;
    border-radius: 10px;
  }
  
  .vehicle-detail--image-small:hover {
    opacity: 1;
  }
  
  .image-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .vehicle-detail--images-container {
    width: 100%;
    overflow: hidden;
    background: rgb(223, 223, 223);
    border-radius: 10px;
    border: 5px solid black;
    margin: 10px auto;
  }

  .vehicle-detail--image-large {
      width: 100%;
  }

  .vehicle-detail-small-info {
      text-align: center;
      margin: 5px 0;
  }

  .vehicle-detail-small-info--icon {
      width: 20px;
  }

  .vehicle-lookup {
      margin: 20px 0;
  }

  .vehicle-detail--description {
    margin: 20px 0px;
    font-family: roboto, sans-serif;
  }


@media (max-width: 991px){
    .vehicle--image {
        height: 200px;
    }

    .vehicle-container {
        min-height: 200px;
    }
}

@media (max-width: 767px){
    .vehicle--image {
        height: 200px;
    }

    .vehicle-container {
        min-height: 200px;
    }

    .vehicle-container--body {
        padding: 10px 30px;
    }
}